VITE_SUPABASE_URL=https://cghtxfaoqeabcmfaxpsa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNnaHR4ZmFvcWVhYmNtZmF4cHNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxNzE3NTQsImV4cCI6MjA5NTc0Nzc1NH0.wBS_Z6O-sOxEWSHSG0RcBTbAC1N-bz3LJo899gfGDVs
VITE_ODDS_API_KEY=b4d388a24887762589fe78523ab00529

